/* @import '~react-vis/dist/style'; */

ul {
    color: green;
}
#Body {
    display: flex;
}

input:focus:not([read-only]) {
}

input:not([type]),
input[type='text']:not(.browser-default),
input[type='password']:not(.browser-default),
input[type='email']:not(.browser-default),
input[type='url']:not(.browser-default),
input[type='time']:not(.browser-default),
input[type='date']:not(.browser-default),
input[type='datetime']:not(.browser-default),
input[type='datetime-local']:not(.browser-default),
input[type='tel']:not(.browser-default),
input[type='number']:not(.browser-default),
input[type='search']:not(.browser-default),
textarea.materialize-textarea {
    border-bottom: none !important;
    box-shadow: none !important;
}

#chartdiv {
    width: 100%;
    height: 98vh;
}

path {
    pointer-events: all;
}
path:hover {
    opacity: 0.5;
    cursor: pointer;
}

.us-state-map {
    /* viewbox: 0 0 900 300; */
    width: 100%;
    height: 100%;
    /* transform: scale(0.75); */
}

#Graphs {
    margin: 20px;
    width: 60vw;
}

#App {
    display: flex;
    flex-wrap: wrap;
}

#Graphs {
    display: flex;
    height: 75vh;
    justify-content: center;
}

.LegendToggle {
    display: flex;
}
